body {
	font-size: 15px;
}
.container {
	margin: 20px;
}
.sidebar {
	background-color: lightblue;
	border: 1px solid gray;
	border-radius: 25px;
	padding: 15px;
	text-align: center;
}
.content {
	padding: 15px;
}
.form-control {
	font-size: inherit;
}
.input-group-text {
	font-size: inherit;
}
div.form-group {
	margin: 6px 0;
}
button.btn {
	margin: 5px;
}
button.btn-outline-secondary {
	margin: 0;
}
a.btn-info {
	color: white;
}
img.head-image {
	border: 2px solid;
	margin: 4px 5px 4px 10px;
}
div#info {
	margin: 10px 0;
	padding: 10px;
	border-bottom: 3px gray solid;
	text-align: center;
}
p#banner-type {
	color: deepskyblue;
}
button#reset {
	align-self: ;
	margin: 8px;
}
div#acknowledgement {
	font-size: 12px; 
	color: gray; 
	padding: 8px;
	margin-top: 10px; 
	border-top-style: solid;
}
span.golden {
	color: goldenrod;
	margin-left: 24px;
}